<div>
  <form [formGroup]="bikeForm" (ngSubmit)="onSubmit()" #ngForm="ngForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Add New Bike <span *ngIf="ngForm.submitted && !bikeForm.valid" class="small-font"
            [ngClass]="{'invalid': ngForm.submitted }">* required</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="modelName" matInput placeholder="modelName">
              <mat-hint style="color:red;"
                *ngIf="bikeForm.get('modelName')?.touched && bikeForm.get('modelName')?.errors?.['required']">
                Model Name is required
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="brakes" matInput placeholder="brakes">
              <mat-hint style="color:red;"
                *ngIf="bikeForm.get('brakes')?.touched && bikeForm.get('brakes')?.errors?.['required']">
                Required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="engineCapacity" matInput placeholder="engineCapacity">
              <mat-hint style="color:red;"
                *ngIf="bikeForm.get('engineCapacity')?.touched && bikeForm.get('engineCapacity')?.errors?.['required']">
                Required
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="fuelTankCapacity" matInput placeholder="fuelTankCapacity">
              <mat-hint style="color:red;"
              *ngIf="bikeForm.get('fuelTankCapacity')?.touched && bikeForm.get('fuelTankCapacity')?.errors?.['required']">
              Required
            </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="gears" matInput placeholder="gears">
              <mat-hint style="color:red;"
              *ngIf="bikeForm.get('gears')?.touched && bikeForm.get('gears')?.errors?.['required']">
              Required
            </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="imageUrl" matInput placeholder="imageUrl">
              <mat-hint style="color:red;"
                *ngIf="bikeForm.get('imageUrl')?.touched && bikeForm.get('imageUrl')?.errors?.['required']">
                imageUrl is required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="mileage" matInput placeholder="mileage:">
              <mat-hint style="color:red;"
              *ngIf="bikeForm.get('mileage:')?.touched && bikeForm.get('mileage:')?.errors?.['required']">
              Required
            </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="price" matInput placeholder="price" [type]="'number'">
              <mat-hint style="color:red;"
              *ngIf="bikeForm.get('price')?.touched && bikeForm.get('price')?.errors?.['required']">
              Required
            </mat-hint>
            </mat-form-field>
          </div>

          
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="startingMechanism" matInput placeholder="startingMechanism">
              <mat-hint style="color:red;"
              *ngIf="bikeForm.get('startingMechanism')?.touched && bikeForm.get('startingMechanism')?.errors?.['required']">
              Required
            </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="wheelType" matInput placeholder="wheelType">
              <mat-hint style="color:red;"
              *ngIf="bikeForm.get('wheelType')?.touched && bikeForm.get('wheelType')?.errors?.['required']">
              Required
            </mat-hint>
            </mat-form-field>
          </div>
          
        </div>

      <mat-form-field appearance="fill">
        <mat-label>Is Bike Available?</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="true">
            Yes
          </mat-option>
          <mat-option [value]="false">
            No
          </mat-option>
        </mat-select>
      </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <!-- <button type="submit" mat-raised-button color="primary">Availability</button> -->
        <button [disabled]="bikeForm.invalid" type="submit" mat-raised-button color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>