<div class="container">
    <div class="card-deck">
        <div class="card mt-5" *ngIf="id != null">
            <div class="card-body">

                <div class="row">
                    <div class="col-6">
                        <h3>Profile Information</h3>
                        <ul>
                            <li>{{user.userName}}</li>

                        </ul>
                        <div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>